body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.site-header {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.desktop-name {
  display: inline-block;
  font-size: 2rem;
  transition: color 0.3s ease;
}

.logo a:hover .desktop-name {
  color: #0066cc;
}

.mobile-name {
  display: none;
  font-weight: bold;
  font-size: 2rem;
}

.main-nav ul {
  display: flex;
  gap: 0.1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav li {
  margin-left: 2rem;
}

.main-nav a {
  text-decoration: none;
  color: #333;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: all 0.3s ease;
  position: relative;
  font-weight: 500;
}

.main-nav a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.main-nav a.active {
  background-color: #176ad6;
  font-weight: bold;
  color: white;
  box-shadow: 0 2px 10px rgba(52, 152, 219, 0.3);
  font-weight: 600;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.mobile-nav-toggle {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  z-index: 200;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #333;
  transition: all 0.3s ease;
}

main {
  margin: 2rem auto;
  padding: 0 2rem;
}

section {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin-bottom: 2rem;
}

h1,
h2 {
  color: #333;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .site-header {
    padding: 1rem;
  }

  .desktop-name {
    display: none;
  }

  .mobile-name {
    display: inline-block;
  }

  .mobile-nav-toggle {
    display: block;
  }

  .main-nav {
    position: fixed;
    inset: 0 0 0 30%;
    background: white;
    padding: min(30vh, 10rem) 2rem;
    transform: translateX(100%);
    transition: transform 350ms ease-in;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }

  .main-nav.nav-open {
    transform: translateX(0%);
  }

  .main-nav ul {
    /* display: flex; */
    flex-direction: column;
    gap: 0.75rem;
    padding: 0;
  }

  .main-nav a.active {
    width: 100%;
    display: block;
  }

  .main-nav li {
    margin-left: 0;
  }

  .mobile-nav-toggle[aria-expanded="true"] .hamburger span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .mobile-nav-toggle[aria-expanded="true"] .hamburger span:nth-child(2) {
    opacity: 0;
  }

  .mobile-nav-toggle[aria-expanded="true"] .hamburger span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}
